.body {
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.site_background {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 922px;
	background-color: white;
}

.site_container {
	width: 980px;
	padding-bottom: 1px;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

.head {
	top: 0px;
	width: 980px;
	height: 178px;
	position: absolute;
	left: 0px;
}

.head_1 {
	top: 45px;
	left: 1px;
	width: 979px;
	position: absolute;
	border-bottom: 2px solid rgba(14, 14, 14, 1);
	height: 0 !important;
	min-height: 0 !important;
}

.head_2 {
	top: 4px;
	left: 263px;
	width: 454px;
	position: absolute;
	word-wrap: break-word;
}

.head_2 h1 {
	text-align: center; 
	line-height: normal; 
	letter-spacing: normal;
	font: normal normal bold 35px/1.1em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #0E0E0E;
}

.head_2 a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.head_2 span {
	background-color: #FFFFFF;
	font: normal normal bold 35px/1.1em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.head_3 {
	top: 126px;
	left: 0px;
	width: 980px;
	position: absolute;
	height: 52px;
}

.head_3_1 {
	display: inline-block;
	text-align: left;
	overflow: visible;
	height: 52px;
	width: calc(100% - 0px);
	background-color: white;
	border-radius: 0;
	border: solid 0px rgba(14, 14, 14, 1);
	position: relative;
}

.main_menu {
	background-color: #808080;
	width: 242px;
	height: 52px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	text-align: center;
	font: normal normal normal 15px/1.1em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

.main_menu:hover {
	background-color: rgba(255, 128, 153, 1);
	transition: background-color 0.4s ease 0s;
}

.main_menu p {
	text-align: center;
	line-height: 52px;
	color: white;
	display: inline-block;
	padding: 0 10px;
	font: normal normal normal 15px/1.1em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.head_5 {
	top: 65px;
	width: 234px;
	height: 47px;
	position: absolute;
}

.head_5_contain {
	
	display: inline-block; 
	font: normal normal normal 18px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #0E0E0E;
}

.LK {
	top: 65px;
	position: absolute;
}
/*Сбросим отступы*/
.LK ul,.LK h3,.LK h3 a{
padding:0;margin:0
}
/*Стиль блока при наведении*/
.LK:hover{
	background-color:#3E403D;
	border:solid 1px #3A3C39;
}
/*Заголовок в обычном состоянии*/
.LK h3 a{
	margin-top: 0px;
	width: auto;
	font-weight: 350;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	color: white;
	cursor: pointer;
	font: 18px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	display:block;
	color:#808080;
	text-align:center;
}
/*Стиль для заголовка при наведении*/
.LK:hover h3 a {
	color:white;
	position:relative;
}
/*Скрываем список без наведения*/
.LK ul{
display:none;
}
/*Отображаем список при наведении*/
.LK:hover ul{
display:block;
height: auto;
}
.LK li{display:block}
/*Стиль элемента списка*/
.LK li a{
padding:5px 12px 4px 34px;
margin:1px;
background-color:#484A47;
display:block;
color:#FFF;
text-decoration:none;
font-size:12px;
}
/*Стиль элемента при наведении*/
.LK li a:hover{
background-color:#808080;
}

.content {
	top: 205px;
	width: 980px;
	height: 658px;
	position: absolute;
	left: 0px;
}

.bot {
	top: 1200px;
	position: absolute;
	width: 980px;
	left: 0px;
	height: 66px;
	bottom: auto;
	background-color: rgba(14, 14, 14, 1);
}

.bot_name {
	top: 18px;
	left: 19px;
	width: 390px;
	position: absolute;
}

.font_9 {
	font: normal normal normal 13px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	margin: 0;
	line-height: normal;
	letter-spacing: normal;
}

.instagram_icon {
	width: 30px;
	height: 30px;
	visibility: visible;
	top: 15px;
	left: 812px;
	position: absolute;
}

.facebook_icon {
	width: 30px;
	height: 30px;
	top: 15px;
	left: 870px;
	position: absolute;
}

.vkontakte_icon {
	width: 30px;
	height: 30px;
	visibility: visible;
	top: 15px;
	left: 927px;
	position: absolute;
}

.main_categories {
	margin-top: 60px;
}
.main_search {
	background: rgba(255, 128, 153, 1);
	border-radius: 5px;
	margin-top: 30px;
}
.main_input {
	width: 300px;
	height: 35px;
	border-radius: 4px;
	padding-left: 15px;
}
.main_input:focus {
	outline:none;
  outline:none;
  border-color:black;
  outline:none;
  border-color:black;
  border-radius:4px; -moz-border-radius:4px;
  -webkit-border-radius:4px; outline:none;
  border-color:black;
  border-radius:4px; -moz-border-radius:
  4px; -webkit-border-radius:4px;
  outline:none;
  border-color:black;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:0 0 8px black;
  -moz-box-shadow:0 0 8px black;
  -webkit-box-shadow:0 0 black;
}
.main_adverts {
	margin-top: 80px;
}
.main_adverts h3 {
	font-size: 20px;
	color: #5b5b5b;
	line-height: 24px;
	text-transform: uppercase;
	padding-left: 70px;
}
.query {
	float: left;
	margin-left: 75px;
}
.city {
	float: left;
	margin-left: 35px;
}
.search_button {
	margin-left: 745px;
}
.main_cat_table a {
	color: black;
	text-decoration: underline;
	font-size: 17px;
	font-weight: bold;
}
.main_cat_table a:hover {
	color: rgba(255, 128, 153, 1);
}

.icon1{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(http://s1.olx.ua/static/olxua/packed/img/2f6cc6ee3541eb0629fc0b489ee7fd72b5.png) 0 0 no-repeat;
	background-position: 0 -240px;
}

.icon2{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(http://s1.olx.ua/static/olxua/packed/img/2f6cc6ee3541eb0629fc0b489ee7fd72b5.png) 0 0 no-repeat;
	background-position: 0 -384px;
}
.icon3{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(http://s1.olx.ua/static/olxua/packed/img/2f6cc6ee3541eb0629fc0b489ee7fd72b5.png) 0 0 no-repeat;
	background-position: 0 -144px;
}
.icon4{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(http://s1.olx.ua/static/olxua/packed/img/2f6cc6ee3541eb0629fc0b489ee7fd72b5.png) 0 0 no-repeat;
	background-position: 0 -192px;
}
.icon5{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(http://s1.olx.ua/static/olxua/packed/img/2f6cc6ee3541eb0629fc0b489ee7fd72b5.png) 0 0 no-repeat;
	background-position: 0 -432px;
}
.icon6{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff url(/images/grey_beauregard.png) 0 0 no-repeat;
	/*background-position: 0 -432px;*/
}

.button {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 4px;
  background-color: rgb(255, 128, 153);
  color: white;
  cursor: pointer;
} 
.button:hover { background: #a3a3a3; corsor: pointer; }
.button:active { background-color: #808080;}

.button1 {
  width: auto;
  display: inline-block;
  font-weight: 350;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 4px;
  background-color: #808080;
  color: white;
  cursor: pointer;
} 
.button1:hover { background: rgb(255, 128, 153); corsor: pointer; }
.button1:active { background-color: rgb(255, 170, 190);}

#ajax_wrapper {
    background-color: #faf5ec;
    position:fixed;
    top:50%;
    left:50%;
    border:1px solid #755541;
    overflow:auto;
    box-shadow:3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding:10px;
}
#ajax_hide{
    text-align:right;
}
#ajax_body {
    font-family: "KelsonSansBold";
    text-transform: uppercase;
    /*font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;*/
    /*font-family:Palatino Linotype, Book Antiqua3, Palatino6, serif;*/
    font-size:12px;
    color: #4c4c4c;
}
#ajax_body input[type="text"],input[type="password"] {
    padding:3px;
    font-size:23px;
    color:#8E6E5A;
}
#ajax_title{
    color:#3a3a3d;
    font-family: "KelsonSansBold";
    text-transform: uppercase;
    font-size:15px;
    text-align:center;
}
.profile h3{
	font-size: 20px;
	color: #5b5b5b;
	line-height: 24px;
	text-transform: uppercase;
	padding-left: 58px;
}
.profile h3 a {
	color: #808080;
	text-decoration: none;
}
.profile h3 a:hover {
	color: red;
}
.profile input[type="text"],input[type="password"], input[type="datetime"] {
    padding:3px;
    font-size:20px;
    color:#808080;
}
.profile_table {
	font-weight: bold;
	color: black;
}

.profile_advert h3{
	font-size: 20px;
	color: #5b5b5b;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}

.main_table {
	max-width: 980px;
}
.main_table th{
	padding-left: 15px;
	padding-right: 15px;
	background-color: #cccccc;
	
}
.main_table td{
	padding-left: 15px;
	padding-right: 15px;
	background-color: #e6e6e6;
}
.mini_button {
  font-size: 15px;
  width: auto;
  display: inline-block;
  font-weight: 100;
  text-decoration: none;
  padding: .0em .2em;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
} 
.mini_button:hover { background: rgb(255, 128, 153); corsor: pointer; }
.mini_button:active { background-color: rgb(255, 170, 190);}

.list_advert h3{
	font-size: 20px;
	color: #5b5b5b;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}
.advert_search {
	background: rgba(255, 128, 153, 1);
	border-radius: 5px;
}

.info_adverts {
	margin-top: 30px;
	border-bottom: 3px solid #808080;
	padding-bottom: 7px;
	font-size: 16px;
}
.one_advert {
	border-bottom: 2px solid #cccccc;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	margin-top: 30px;
	position: relative;
}
.photo_adv {
	width: 220px;
	height: 220px;
	background-color: grey;
	float: left;
	position: relative;
}
.content_adv {
	margin-left: 270px;
}
/*-------------------*/
.content_adv #name a {
	color: #5d5d61;
	font-weight: bold;
	font-size: 24px; 
	text-decoration: none;
}
.content_adv #name a:hover {
	color: rgb(255, 128, 153);
}
/*-------------------*/
.content_adv #price {
	font-size: 18px;
}
.content_adv #price i {
	color: #b3b3b3;
}
/*-------------------*/
.content_adv #category {
	font-size: 18px;
}
.content_adv #category i {
	color: #b3b3b3;
}
/*-------------------*/
.content_adv #city {
	font-size: 18px;
}
.content_adv #city i {
	color: #b3b3b3;
}
/*-------------------*/
.content_adv #date {
	font-size: 18px;
	color: #999999;
}
.content_adv #date b{
	color: black;
}

.line_adverts {
	margin-top: 20px;
	margin-left: 70px;
	margin-right: 70px;
	height: auto;
}
.main_advert {
	width: 150px;
	float: left;
	margin-left: 9px;
	margin-right: 9px;
	height: 290px;
}
.main_img_advert {
	width: 150px;
	height: 150px;
	background-color: #cccccc;
}
.main_content_advert {
	margin-top: 15px;
	height: 105px;
}
.main_content_advert #name a{
	color: #5d5d61;
	font-weight: bold;
	font-size: 12px; 
	text-decoration: none;
}
.main_content_advert #name a:hover {
	color: rgb(255, 128, 153);
}

.main_content_advert #price {
	font-size: 12px;
	color: black;
}
.main_content_advert #price b {
	color: grey;
}

.main_content_advert #category {
	font-size: 12px;
	color: black;
}
.main_content_advert #category b {
	color: grey;
}

.main_content_advert #city {
	font-size: 12px;
	color: grey;
	font-weight: bold;
}

.description_one {
	margin-left: 140px;
	margin-right: 140px;
}
.description_one table {
	border-collapse: collapse;
	width: 100%;
}
.description_one table td {
	border-bottom: 1px solid #cccccc;
	line-height: 30px;
}
#show_phone, #show_email {
	padding: 5px 10px;
	background-color: #cccccc;
	border: 2px solid grey;
	border-radius: 5px;
	text-decoration: none;
	color: black;
}
#phone, #email {
	padding: 5px 10px;
	background-color: #cccccc;
	border: 2px solid grey;
	border-radius: 5px;
}
#show_phone:hover {
	cursor: pointer;
}
.bottom_pannel {
	margin-top: 50px;
	text-align: center;
	background-color: #e6e6e6;
	border: 2px solid grey;
	border-radius: 3px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 140px;
	margin-right: 140px;
}
.bottom_pannel a {
	color: grey;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
}
.bottom_pannel a:hover {
	text-decoration: underline;
}




